#output img {
  margin-top: 2%;
  width: 50%;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: rgb(230, 56, 13);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  font-size: 18px;
}

.my-float {
  margin-top: 22px;
}

form {
  padding: 20px;
  border-bottom: solid 1px #ddd;
}

input {
  width: 95%;
  padding: 0.5em;
  font-size: 1.4em;
  margin: 0.2em;
}

.submit_button {
  width: 95%;
  padding: 0.5em;
  font-size: 1.4em;
  margin: 0.2em;
}

* {
  box-sizing: border-box;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 20px;
  border-bottom: solid 1px #ddd;
  cursor: pointer;
  display: flex;
}

li > span {
  flex: 1;
  text-align: left;
}

li > button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.done > span {
  text-decoration: line-through;
}
